# **Welcome everyone to our first SWE Event: Intro to Python!**
## This is a beginner friendly event, so everyone is welcome to code with us ðŸ˜Š 
## Feel free to leave any questions, comments, or concerns in the chat ðŸ’¬

# **Variables**

In [ ]:
# What is a variable?
# Variables are values that can change, and are used to store data.
# We can store many different types of data into these variables, and each of these types are called Data Types.

# Here is an example of assigning data to a variable
# The process of assignment allows you to store data into your variables
year = 2022

# When you print the value of the variable called year, you will see that the output is the current year
# We use the print() function to show the output and type() to show the data type of data
print(year)
print(type(year))

2022
<class 'int'>

# **Data Type 1 -> Integers**

In [ ]:
# What is an integer?
# Integers are whole numbers, and can be both positive or negative.

# Here is an example of assigning an INTEGER to a variable
apples = 15
print("We have", apples, "apples.")

# The Integer data type, also known as int, as many operators that allow us to manipulate its data

We have 15 apples.

In [ ]:
# If we bought 5 more apples from the store, we want to add 3 to the amount of apples that we currently have
apples = 15 + 5
print("After buying 5 more apples, we now have", apples, "apples.")

After buying 5 more apples, we now have 20 apples.

In [ ]:
# If we ate 1 apple, we want to subtract 1 from the amount of apples that we currently have
apples = 15 - 1
print("After eating 2 apple, we now have", apples, "apples,")

After eating 2 apple, we now have 14 apples,

In [ ]:
# If we share our apples between 5 people, we want to divide the amount of apples by 6
apples = 15 / 5
print("After sharing 15 apples between 5 people, we have", apples, "apples left.")

# The reason why we see 3.0 instead of 3 is because the division operator will always return a decimal number

After sharing 15 apples between 5 people, we have 3.0 apples left.

In [ ]:
# If we wanted to divide two integers while ignoring the decimal places, we will use an integer division operator
apples = 18
print(apples / 6)
print(apples // 6)

3.0
3

In [ ]:
# If we have an integer that is not perfectly divisible by divisor, using integer division will ignore the remainder of the expression
apples = 15
print(apples / 10)
print(apples // 10)

1.5
1

In [ ]:
# If we want to know what our remainder is from division, we will use the modulus operator
apples = 15
print(apples / 10)
print(apples % 10)

1.5
5

In [ ]:
# If we want to implement exponents, we will use the exponent operator
apples = 100
print(apples**2)
print(apples**(0.5))

10000
10.0

# **Data Type 2 -> Floats**

In [ ]:
# What is a float?
# Floats are floating-point numbers, or real numbers that are written with a decimal point

# Here is an example of assigning a FLOAT to a variable
money = 13.05
print("We have", f"${money}")
print(type(13.05))

We have $13.05
<class 'float'>

In [ ]:
# Floats and integers have similar operations as well

# Addition
print("2.34 + 3.45 =", 2.34 + 3.45)

# Subtraction
print("6.4 - 2.0 =", 6.4 - 2.0)

# Multiplication
print("36.5 * 74.2 =", 36.5 * 74.2)

# Division
print("24.6 / 11.9 =", 24.6 / 11.9)

# Integer Division
print("24.6 // 11.9 =", 24.6 // 11.9)

# Modulus
print("6.5 % 2.0 =", 6.5 % 2.0)

# Exponent
print("6.5**2.0 =", 6.5**2.0)

2.34 + 3.45 = 5.79
6.4 - 2.0 = 4.4
36.5 * 74.2 = 2708.3
24.6 / 11.9 = 2.0672268907563027
24.6 // 11.9 = 2.0
6.5 % 2.0 = 0.5
6.5**2.0 = 42.25

# **Data Type 3 -> Strings**

In [ ]:
# Strings are a collection of characters, specifically unicode characters.
# Strings MUST be encapsulated with quotations "" or ''

# Here is an example
print("Hello World")

#The following would also be considered strings
print(type("I love AIS"))
print(type("Baruch student's are smart")) #Note: Sometimes you want to use words with apostrophes, so use double quotes instead of a single quotes 
print(type("AIS is the best"))

Hello World
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
# String operations perform differently than integers and floats

# Concatination -> +
a = "I love "
b = "dogs"
print(a + b)

# Repetition -> *
print("I love cats " * 3)

I love dogs
I love cats I love cats I love cats

In [ ]:
# We can also use String formatting to make Strings efficiently
# We can do this by using f-Strings

name = "Fluffy"
age = 4

# Even though both sentences are the same, it is better to use f-Strings when inserting variables into Strings
old_sentence = "My cat's name is " + name + " and she is " + str(age) + " years old."
print(old_sentence)
new_sentence = f"My cat's name is {name} and she is {age} years old."
print(new_sentence)

My cat's name is Fluffy and she is 4 years old.
My cat's name is Fluffy and she is 4 years old.

# **Data Type 4 -> Booleans**

In [ ]:
# What is a Boolean?
# Booleans is a logical data type that can only have the values of True or False.

# Here are some examples 
print(True)
print(type(True))
print(False)
print(type(False))

True
<class 'bool'>
False
<class 'bool'>

In [ ]:
# Boolean Expressions are evaluated to be either True or False using Comparison Operators

# Equal operator
print(1 == 1)

# Not Equal operator
print(1 != 1)

# Greater than operator
print(1 > 1)

# Less than operator
print(1 < 1)

# Greater than or equal to operator
print(1 >= 1)

# Less than or equal to operator
print(1 <= 1)

True
False
False
False
True
True

In [ ]:
# You can also use Logical Operators to combine conditional statements

# And operator
print('And operator examples:')
print(True and True) # -> True
print(True and False) # -> False
print(False and False) # -> False

# Or operator
print('\nOr operator examples:')
print(True or True) # -> True
print(True or False) # -> True
print(False or False) # -> False

# Not operator
print('\nNot operator examples:')
print(not True) # -> False
print(not False) # -> True

And operator examples:
True
False
False

Or operator examples:
True
True
False

Not operator examples:
False
True

# **If Statements**

In [ ]:
# Boolean expressions can be used in conditional statements called If statements

if 1 == 1:
  print("This statement is true!")

This statement is true!

In [ ]:
# Since the condition isn't met, it will not print the desired output

if 1 != 1:
  print("This statement is true!")

In [ ]:
# The else keyword is an optional statement that catches anything which isn't caught by the preceding conditions.

if 1 == 1:
  print("This statement is true!")
else:
  print("This statement is false!")

This statement is true!

# **If-Else Statements**

In [ ]:
# Since 1 is equal to 1, python ignores the first condition and goes to else.

if 1 != 1:
  print("This statement is true!")
else:
  print("This statement is false!")

This statement is false!

# **If-Elif-Else Statements**

In [ ]:
# What happens if you wanna test multiple conditions?

if "Cat" == "Dog":
  print("Cat == Dog")
elif "Cat" == "Bird":
  print("Cat == Bird")
elif "Cat" == "Chicken":
  print("Cat == Chicken")
else:
  print("Cat doesn't equal to Dog, Bird, nor Chicken.")

Cat doesn't equal to Dog, Bird, nor Chicken.

# **Variables (In-Depth)**

In [ ]:
'''
Can be any type (Float, string, int, etc.)

The left side is the variable and the right side is the value we want to assign to the variable.

Rules of variables 
1. Don't make variables keywords (ex. if, else, return, True, etc) You can look up list of python keywords for more examples.

2. Your variable name must start with a letter from a-z, A-Z, or an underscore character. (NO numbers in the beginning of your variable name)

3. Make variable names that make sense with what's being assigned to them (ex. BondPrice, CapRate) 

4. Variables are case sensitive (Apple is NOT the same as apple)

5. A variable name CANNOT contain spaces 
'''

In [ ]:
# Example of initializing a variable
color = "red"

print(color)
print(type(color))

red
<class 'str'>

In [ ]:
# Example of redefining a variable
color = "blue"

print(color)
print(type(color))

blue
<class 'str'>

In [ ]:
# What NOT to do when redefining a variable
# Even though Python allows you to do this, this is not advised because it may lead to more problems in the future
color = 25

print(color)
print(type(color))

25
<class 'int'>

In [ ]:
# If you want to change one data type to another, we can use casting methods

oranges = 5
print(oranges, type(oranges))

oranges = float(5)
print(oranges, type(oranges))

oranges = str(5)
print(oranges, type(oranges))

oranges = bool(5) # The reason why this returns True is because it is not a value that equates to 0, such as None or 0 or ""
print(oranges, type(oranges))

5 <class 'int'>
5.0 <class 'float'>
5 <class 'str'>
True <class 'bool'>

In [ ]:
# Testing None, 0, and ""

oranges = bool(None)
print(oranges, type(oranges))

oranges = bool(0)
print(oranges, type(oranges))

oranges = bool("")
print(oranges, type(oranges))

False <class 'bool'>
False <class 'bool'>
False <class 'bool'>

In [ ]:
# Casting does NOT work for conversions

# String -> Integer
print(int("Hello"))

ValueError: ignored

In [ ]:
# String -> Float
print(float("Hello"))

ValueError: ignored

In [ ]:
# Unless the string itself represents the desired data type

x = int("42")
print(x, type(x))

x = float("37.45")
print(x, type(x))

42 <class 'int'>
37.45 <class 'float'>

# **Input and Print Function**

In [ ]:
# Input functions allows a user to input information into our program. 

input("Enter your first and last name: ")

Enter your first and last name: Efaz Ahmed

'Efaz Ahmed'

In [ ]:
# We'll be able take this information, assign it to a variable, and then do something with that variable.

name = input("Enter your first and last name: ")
print("Hi, my name is " + name + "!")

Enter your first and last name: Efaz Ahmed
Hi, my name is Efaz Ahmed!

In [ ]:
'''The print statement above uses concatenation to combine the elements. 
NOTE: You can only concatenate a string with another string. 
For example, if I want to combine a variable that holds an integer with a string, it will give me an error. '''

print("The current year is " + 2022)

TypeError: ignored

In [ ]:
# You can get around this by turning the element into a string. 

print("The current year is " + str(2022))

The current year is 2022

In [ ]:
# If you don't want to use the + operator, you can change the print function's parameters

college = "Baruch College"
print(college, "is the best CUNY!")

Baruch College is the best CUNY!

In [ ]:
# You can also use the 'sep' parameter to change how to separate each value

print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep=", ")
print(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, sep=" -> ")

1 2 3 4 5 6 7 8 9 10
1, 2, 3, 4, 5, 6, 7, 8, 9, 10
1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9 -> 10

In [ ]:
# There are many other cool things you can do with the print function
# You can use this to see the other parameters if you're interested

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# **Data Structure 1 -> Lists**

In [ ]:
# What is a list?
# A list is a mutable data stucture that is used to store collections of data and is ordered using indicies
# We use the [] notation to create a list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print(type(characters))

<class 'list'>

In [ ]:
# Lists don't need to contain the same types of data

unknown = ["Spongebob", 1234, True]

In [ ]:
# Let's print out our characters and see what we get!

print(characters)
print(type(characters))

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
<class 'list'>

In [ ]:
# Since lists are ordered using indicies, we can access elements in the list using them
# What are indicies?

#           -5   -4   -3   -2   -1                 
#            0    1    2    3    4
alphabet = ["a", "b", "c", "d", "e"]

print(alphabet[0], alphabet[4])
print(alphabet[-5], alphabet[-1])

a e
a e

In [ ]:
# Let's bring back our characters and see what we can get!

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters)
print(characters[0])
print(characters[4])
print(characters[-1])

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
Spongebob
Plankton
Mr.Krabs

In [ ]:
'''Another way we can access elements is through slicing. We can achieve this by using a colon (:). 
There is a special case we MUST make note of when slicing lists, the index number we put after the colon.  
When slicing, python will grab all the elements up to but NOT including the index after the colon.
For example: '''

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters[1:5])

['Patrick', 'Sandy', 'Squidward', 'Plankton']

In [ ]:
# If we only have a colon within the slicing notation, we will get a copy of the entire list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters[:])

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']

In [ ]:
# If I wanted to get all characters from Patrick and the elements after, we can specify only the left bound

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters[1:])

['Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']

In [ ]:
# If I wanted all of the characters before Sandy, I can specify only the right bound

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters[:2])

['Spongebob', 'Patrick']

In [ ]:
# There is a third parameter to slicing that exists that allows you to skip elements

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]

print(characters[:])
print(characters[::2])

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
['Spongebob', 'Sandy', 'Plankton']

In [ ]:
# Lists are really good to use because they are mutable, which means you can change the data within them

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

# Gary eats plankton
characters[4] = "Gary"
print("After: ", characters)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After:  ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Gary', 'Mr.Krabs']

# **Methods -> Lists**

In [ ]:
# Lists methods are methods that are built-in that usable for all lists

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print(characters)

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']

In [ ]:
# Append Method -> allows you to add an element at the end of the list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

characters.append("Larry")
print("After:", characters)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs', 'Larry']

In [ ]:
# Pop method -> allows you to remove the element at a specified index

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

popped = characters.pop(4)
print("After:", characters)
print(popped)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Mr.Krabs']
Plankton

In [ ]:
# Index method -> allows you to find the index of a specified element in the list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print(characters)

location = characters.index("Patrick")
print(location)

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
1

In [ ]:
# Sort method -> allows you to sort the list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

characters.sort()
print("After:", characters)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After: ['Mr.Krabs', 'Patrick', 'Plankton', 'Sandy', 'Spongebob', 'Squidward']

In [ ]:
# Sorted method -> allows you to sort the list, but doesn't affect the original list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

new_characters = sorted(characters)
print("After:", characters)
print(new_characters)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
['Mr.Krabs', 'Patrick', 'Plankton', 'Sandy', 'Spongebob', 'Squidward']

In [ ]:
# Reverse method -> allows you to reverse a list

characters = ["Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs"]
print("Before:", characters)

characters.reverse()
print("After:", characters)

Before: ['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
After: ['Mr.Krabs', 'Plankton', 'Squidward', 'Sandy', 'Patrick', 'Spongebob']

In [ ]:
# Although this isn't considered a list method, we can also use the + operator to combine lists

a = ["Spongebob", "Patrick", "Sandy"]
b = ["Squidward", "Plankton", "Mr.Krabs"]

print(["Spongebob", "Patrick", "Sandy"] + ["Squidward", "Plankton", "Mr.Krabs"])
print(a + b)

['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']
['Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs']

In [ ]:
# There are many other methods for lists but those are the most popular ones
# To learn more about list methods, check out this website -> https://www.w3schools.com/python/python_ref_list.asp

# **Data Structure 2 -> Tuples**

In [ ]:
# What is a tuple?
# A tuple is an immutable data stucture that is used to store collections of data and is ordered using indicies as well
# We use the () notation to create a tuple

characters = ("Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs")
print(characters)

('Spongebob', 'Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs')

In [ ]:
# We can extract data from tuples like we did with lists

characters = ("Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs")
print(characters[0])
print(characters[-1])
print(characters[1:3])

Spongebob
Mr.Krabs
('Patrick', 'Sandy')

In [ ]:
# Tuples are different than lists because they are immutable, which means you CANNOT change the data within them

characters = ("Spongebob", "Patrick", "Sandy", "Squidward", "Plankton", "Mr.Krabs")
characters[4] = "Gary"

# Sadly, Gary cannot eat Plankton this time :(

TypeError: ignored

# **Methods -> Tuples**

In [ ]:
# Since tuples are immutable, they have limited methods

# The count method returns the number of times a specified value occurs in a tuple
array = [1, 1, 1, 2, 2, 3, 4, 5]
print(array.count(1))

3

In [ ]:
# The index method allows you to search for the FIRST index of a specified value in a tuple
array = [1, 1, 1, 2, 2, 3, 4, 5]
print(array.index(2))

# Even though there are multiple 2's, only the first 2's index is displayed

3

# **Data Structure 3 -> Sets**

In [ ]:
# What is a set?
# A set is an unordered collection of items where every element is UNIQUE
# We use the set() function to initialize a set

cards = set()

In [ ]:
# We can also initialize them by using the set() function on a list, or by populating {} with values

cards = set([1, 1, 1, 2, 2, 3, 4, 5])
print(cards)

cards = {1, 1, 1, 2, 2, 3, 4, 5}
print(cards)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

# **Methods -> Sets**

In [ ]:
# Sets are one of the most important data structures in Python because it can only contain unique values

# The add method allows us to add an element into the set
cards = {1, 2, 3, 4, 5}
print("Before:", cards)
cards.add(5)
print("After:", cards)

Before: {1, 2, 3, 4, 5}
After: {1, 2, 3, 4, 5}

In [ ]:
# The remove method allows us to delete an element from the set
cards = {1, 2, 3, 4, 5}
print("Before:", cards)
cards.remove(5)
print("After:", cards)

Before: {1, 2, 3, 4, 5}
After: {1, 2, 3, 4}

In [ ]:
# Sets are also important because they apply directly to Set Theory

# The difference method returns a set that contains the difference between two or more sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# What values in a are NOT in b?
print(a.difference(b))
# What values in b are NOT in a?
print(b.difference(a))

{1, 2}
{5, 6}

In [ ]:
# The intersection method allows us to see what two sets have in common
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# What do a and b have in common?
print(a.intersection(b))

{3, 4}

In [ ]:
# The union method returns the union of sets
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# Let's combine two sets
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [ ]:
# There are many other methods that sets have but for this tutorial, these are the main ones
# If you are interested in learning more, feel free to go to https://www.w3schools.com/python/python_sets_methods.asp

# **Data Structure 4 -> Dictionaries**

In [ ]:
# What is a dictionary?
# Dictionaries are used to store data values in key:value pairs
# Dictionaries are initialized using {} or the dict() function

# Citizens of Bikini Bottom had a Krabby Patty eating competition. Let's use a dictionary to see how many patties each character ate!
patties = {"Spongebob": 5, "Patrick": 15, "Sandy": 3, "Squidward": 100, "Plankton": 1, "Mr.Krabs": 2}
print(patties)

{'Spongebob': 5, 'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2}

In [ ]:
# We can also display dictionaries in this way, which is more common to see in the industry

patties = {
    "Spongebob": 5, 
    "Patrick": 15, 
    "Sandy": 3, 
    "Squidward": 100, 
    "Plankton": 1, 
    "Mr.Krabs": 2
}

print(patties)

{'Spongebob': 5, 'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2}

In [ ]:
# If you want to get a specific value, you must use the appropriate key

# Let's find the amount of patties that were eaten by Squidward
print(patties["Squidward"])

100

In [ ]:
# Let's find the amount of patties that were eaten by Larry
print(patties["Larry"])

KeyError: ignored

In [ ]:
# Since Larry did not compete in the competition, we will get an error
# To avoid getting errors about invalid keys, we can use the get() method to bypass this

print(patties.get("Larry"))

None

In [ ]:
# To add a record into a dictionary, we can use the new key and assign it to a value

# Let's add Larry to the competition
print("Before:", patties)

patties["Larry"] = 10

print("After:", patties)

Before: {'Spongebob': 5, 'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2}
After: {'Spongebob': 5, 'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2, 'Larry': 10}

In [ ]:
# To delete a record from a dictionary, we can use the del keyword

# Let's say Spongebob was caught cheating and was disqualified
print("Before:", patties)

del patties["Spongebob"]

print("After:", patties)

Before: {'Spongebob': 5, 'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2, 'Larry': 10}
After: {'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2, 'Larry': 10}

In [ ]:
# To change a record from a dictionary, we can reassign the value using the key

# Let's say Patrick actually ate 20 patties instead of 15 patties
print("Before:", patties)

patties["Patrick"] = 20

print("After:", patties)

Before: {'Patrick': 15, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2, 'Larry': 10}
After: {'Patrick': 20, 'Sandy': 3, 'Squidward': 100, 'Plankton': 1, 'Mr.Krabs': 2, 'Larry': 10}

In [ ]:
# To see all of the keys in your dictionary, we can use the keys() function
print(patties.keys())

dict_keys(['Patrick', 'Sandy', 'Squidward', 'Plankton', 'Mr.Krabs', 'Larry'])

In [ ]:
# To see all of the values in your dictionary, we can use the values() function
print(patties.values())

dict_values([20, 3, 100, 1, 2, 10])

In [ ]:
# There are many other methods for dictionaries
# To learn more, please visit https://www.w3schools.com/python/python_dictionaries.asp

# **Functions**

In [ ]:
# What are functions?
# Functions are blocks of organized, reusable code that is usually used to perform a task
# They are defined using the def keyword

# This function here prints a greeting
def greeting():
  print("Hello!")

# To use a function, we call it by simply stating the name of the function and its parameters
# Since this function has no parameters, we can simply do this:
greeting()

Hello!

In [ ]:
# We can also put parameters into functions as well, called positional arguments

def greeting(name):
  print("Hello! My name is", name)

greeting("Natalia")
greeting("Ariadna")

Hello! My name is Natalia
Hello! My name is Ariadna

In [ ]:
# If we don't specify the correct parameters, we will get an error

def greeting(name):
  print("Hello! My name is", name)

greeting()

TypeError: ignored

In [ ]:
# To take that into account, we can add a keyword argument by using the = operator
# The value assigned to the argument will act like a default value

def greeting(name="Helen"):
  print("Hello! My name is", name)
  
greeting()

Hello! My name is Helen

In [ ]:
# We can also have multiple parameters in a function as well

def intro(name, role):
  print("Hello everyone! My name is", name, "and I am the", role, "at Baruch AIS")

intro("Natalia", "Director of Data Science")

Hello everyone! My name is Natalia and I am the Director of Data Science at Baruch AIS

In [ ]:
# Since these are positional arguments, the order in which the arguments are given matter

# Let's take a look at this example:
def intro(name, role):
  print("Hello everyone! My name is", name, "and I am the", role, "at Baruch AIS")

intro("Data Science Associate", "Ariadna")

Hello everyone! My name is Data Science Associate and I am the Ariadna at Baruch AIS

In [ ]:
# We can also have functions return a value that can be used for other uses

# Let's create a function to find the area of a rectangle
def area(length, width):
  return length * width

a = area(5, 8)
print("The area is", a)

The area is 40

In [ ]:
# Let's create a function to find the volume of a rectangular prism
def volume(length, width, height):
  return length * width * height

v = volume(10, 4, 9)
print("The volume is", v)

The volume is 360

# **ðŸ˜Š Thank you for joining our Intro to Python Workshop! ðŸ˜Š**